:root {
  --color-bg-dark: #aeb3c7;
  --color-bg: #ced3df;
  --color-grey: #d1d1d1;
  --color-text: #22243b;
  --color-accent: #e19cb0;
  --color-white: #FAFDF3;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  height: 60%;
  max-width: 600px;
  background-color: var(--color-bg-dark);
  overflow: hidden;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.65);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.65);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

button{
  border: none;
  outline: none;
}
