* {
  box-sizing: border-box;
}

body {
  background-color: #ced3df;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.container {
  width: 550px;
  margin: auto;
  text-align: center;
}

.header {
  font-size: 30px;
}

.input__container {
}

.input__form {
  display: flex;
  justify-content: center;
}

.input__textbox {
  width: 50%;
  border-radius: 20px 0 0 20px;
  border: none;
  outline: none;
  line-height: 30px;
  font-size: 20px;
  padding-left: 10px;
}

.input__btn {
  width: 10%;
  background-color: white;
  border-radius: 0 20px 20px 0;
  border-left: black solid 1px;
  line-height: 30px;
  font-size: 20px;
}

.controlAllList {
  margin-top: 10px;
  /* font-size: 30px; */
}

.checkAll,
.deleteAll,
.check,
.delete {
  transition: all 200ms ease-out;
}

.checkAll:hover,
.deleteAll:hover,
.check:hover,
.delete:hover {
  transform: scale(1.5);
}

.main {
  width: 100%;
  height: 400px;
  background-color: white;
  font-size: 20px;
  margin: 10px 0;
  overflow: scroll;
}

.list {
}

.items {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 3px 32px;
}

i {
  transform: scale(1.2);
}

.clickContainer button {
  padding: 0;
  margin: 5px;
}

.footer {
  font-size: 20px;
}

.strike {
  text-decoration: line-through;
}
